// COLORS
$color-primary: #68c74d;
$color-primary-dark: #52b138;

$color-secondary: #1acf32;
$color-secondary-dark: #08a81d;

$color-tertiary: #fdc620;
$color-tertiary-dark: #e6b010;

// Media Breakpoints
$bp-1300: 81.25em;
