// COLORS
$color-primary: #68c74d;
$color-primary-dark: #52b138;

$color-secondary: #1acf32;
$color-secondary-dark: #08a81d;

$color-tertiary: #fdc620;
$color-tertiary-dark: #e6b010;

// Better readability (contrast ratio guidelines)
$color-text: #088400;
$color-text-span: #2da20d;

// Media Breakpoints
$bp-400: 25em;
$bp-480: 30em;      // Header adjustments and tertiary heading
$bp-600: 37.5em;    // Again make header elements smaller
$bp-700: 43.75em;   // Portfolio 1 column media query
$bp-800: 50em;      // Make header smaller
$bp-900: 56.25em;   // Single column layout from here on out
$bp-1000: 62.5em;   // Adjusting font-sizes
$bp-1200: 75em;     // Adjust portfolio-box columns
$bp-1100: 68.75em;
$bp-1300: 81.25em;
$bp-1800: 112.5em;
