// Create animation on content view

.about__content {
    grid-column: col-start 1 / col-end 6;

    display: grid;
    justify-items: start;    
    row-gap: 5rem; 
    border: 1px solid $color-primary;
    padding: 3.5rem;
    margin: 15rem 0;
    
    &--text {
        font-size: 1.6rem;
        line-height: 2.5rem;
        width: 80%;            
        
        @media screen and (max-width: $bp-400) {
            width: 95%;
        }       
    }

    &--span {
        color: $color-text-span;
        font-weight: bold;
        border-bottom: 1px $color-primary solid;
    }

    @media screen and (max-width: $bp-900) {
        grid-column: col-start 2 / col-end 7;
        justify-items: center;
        padding: 3rem;
        margin-top: 10rem;
        margin-bottom: 7.5rem;
    }

    @media screen and (max-width: $bp-600) {
        grid-column: col-start 1 / col-end 8;
        row-gap: 3rem;
        padding: 3rem 2rem;
    }   
}