.section-about {
    border: 1px solid #68c74d;
    grid-column: col-start 1 / col-end 6;
}

.text__content {
    display: grid;
    justify-items: start;
    row-gap: 5rem;

    &--sub {
        font-size: 1.6rem;
        line-height: 2.5rem;
        width: 85%;
    }
}