.contact {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 3rem;
        font-weight: 200;

        &::after {
            content: "";
            background-color: $color-text;
            height: 1px;
            width: 10rem;
            display: inline-block;
        }
    }    
}