// Maybe add all 3 icons under each other in mobile view

.footer {
    background-color: #333;
    grid-column: full-start / full-end;
    padding: 3rem;

    &__logo-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        justify-items: center;

        &--logo {
            fill: #fff;
            width: 4rem;
            height: 4rem;
            line-height: 1;
        }
    }
}

.contact {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 3rem;
        font-weight: 200;

        &::after {
            content: "";
            background-color: $color-primary;
            height: 1px;
            width: 10rem;
            display: inline-block;
        }
    }    
}