.header {
    background-image: linear-gradient(rgba($color-primary, .7), rgba($color-primary-dark, .5)), url(/img/hero-resized.jpg);
    // clip-path: polygon(50% 100%, 0 0, 100% 0);
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: center;
    position: relative;

    color: #fff;

    grid-column: full-start / full-end;

    // Could've done this with negative margins as well or relied only on absolute positioning instead of flex or used grid
    &__main-box {
        position: absolute;
        top: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
        animation: moveInTop 1.5s ease;
    }
    
    &__sub {       
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 200;
        text-align: center;
        letter-spacing: 5px;
        
        animation: fadeIn 2.5s ease-out;

        @media screen and (max-width: $bp-1100) {
            font-size: 2rem;
        }

        @media screen and (max-width: $bp-800) {
            font-size: 1.6rem;
        }

        @media screen and (max-width: $bp-600) {
            font-size: 1.4rem;
        }
    }  

    &__sub::before,
    &__sub::after {
        content: "";
        background-color: rgba($color: #fff, $alpha: 0.5);
        display: inline-block;
        width: 15.4rem;
        height: 1px;

        @media screen and (max-width: $bp-800) {
            width: 8.4rem;
        }

        @media screen and (max-width: $bp-600) {
            width: 6.5rem;
        }
    }

    &__sub::before {
        margin-right: 1.5rem;
        animation: moveInLeft 1.5s ease-out;
    }

    &__sub::after {
        margin-left: 1.5rem;
        animation: moveInRight 1.5s ease-out;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        font-size: 6.4rem;
        font-weight: 100; 
        text-align: center;
        letter-spacing: 0.325em;
        text-transform: uppercase;   

        animation: fadeIn 3s ease;

        @media screen and (max-width: $bp-1100) {
            font-size: 5.8rem;
        }

        @media screen and (max-width: $bp-800) {
            font-size: 4.5rem;
        }

        @media screen and (max-width: $bp-600) {
            font-size: 3.7rem;
        }

        @media screen and (max-width: $bp-480) {
            font-size: 3.2rem;
            letter-spacing: 0.225em;;
        }
    }

    &__main::after {
        content: "";
        background-color: rgba($color: #fff, $alpha: 0.5);
        display: inline-block;
        width: 75rem;
        height: 1px;
        margin: 1rem;

        animation: moveInBottom 1.3s cubic-bezier(.34,.56,.49,.78);

        @media screen and (max-width: $bp-800) {
            width: 60rem;
        }

        @media screen and (max-width: $bp-600) {
            width: 45rem;
        }

        @media screen and (max-width: $bp-480) {
            width: 37rem;
        }
    }

    &__text-box {
        display: flex;
        justify-content: space-between;
        width: 20rem;   
    }

    &__text {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__svg-box {
        position: absolute;
        bottom: 10%;
    }

    &__arrow {        
        fill: #fff;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        
        animation: 0.8s downArrow 1.5s  infinite alternate ease-in-out;
    }

}