*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    // font-size: 62.5%;
    font-size: 75%;

    @media screen and (max-width: $bp-1300) {
        font-size: 62.5%;
    }

    @media screen and (max-width: 56.25em) {
        font-size: 50%;
    }

    @media screen and (max-width: 50em) {
        font-size: 42.5%;
    }
    
    @media screen and (max-width: 37.5em) {
        font-size: 37.5%;
    }
}

body {
    box-sizing: border-box;
    background-color: #f7f7f7;
}


::selection {
    background-color: $color-primary;
    color: #fff;
}

// 20vw doesnt work apparently
.container {
    display: grid;
    grid-template-rows: 100vh repeat(2, min-content) min-content 40vh;
    grid-template-columns: 
        [full-start] minmax(6rem, 1fr) 
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
        minmax(6rem, 1fr) [full-end];    
}