*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @media screen and (min-width: $bp-1800) {
        font-size: 75%;
    }       

    @media screen and (max-width: $bp-1000) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-color: #f7f7f7;
}


::selection {
    background-color: $color-primary;
    color: #fff;
}

// 5 columns of 20vw doesnt fill the whole screen
.container {
    display: grid;
    grid-template-rows: 100vh repeat(2, min-content) min-content 30vh;
    grid-template-columns: 
        [full-start] minmax(6rem, 1fr) 
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
        minmax(6rem, 1fr) [full-end];
        
    @media screen and (max-width: $bp-1100) {
        grid-template-rows: 90vh repeat(2, min-content) min-content 30vh;
    }

    @media screen and (max-width: $bp-1000) {
        grid-template-rows: 85vh repeat(2, min-content) min-content 30vh;
    }

    @media screen and (max-width: $bp-800) {
        grid-template-rows: 60vh repeat(2, min-content) min-content 30vh;
    }
}