body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

.heading-primary {
    font-size: 6.4rem;
    font-weight: 100; 
    text-align: center;
    letter-spacing: 0.325em;
    text-transform: uppercase;
}

.heading-secondary {
    font-size: 4.5rem;
    font-weight: 200;
    text-align: center;
    letter-spacing: 5px;
}
